<html>

<body>
    <style>
        .result {
            padding: 5px;
            writing-mode: vertical-lr;
            border-width: 1px;
            text-align: center;
            border-radius: 5px;
        }

        .down {
            background-color: red;
        }

        .up {
            background-color: greenyellow;
        }
    </style>

<table>
    {{ range . }}
    <tr>
        <td>{{ .Host }}</td>
        {{ range .Results -}}
        <td class="result {{ isUp .Status }}" alt="{{ .Status }}">{{ .Port }}</td>
        {{ end }}
    </tr>
    {{ end }}
</table>

</body>
</html>
